<br><br>
<div style="background-color: rgb(197, 195, 195);background-size: cover;"><br>
    <p style="padding-top: 1%;text-align: center;font-size: 25px;"><b>Forsyth Shutters and Blinds</b></p>
    <br>
    <div class="s_b">
        <h3>Interior Shutters</h3>
        <h3>Custom Shades</h3>
        <h3>Custom Blinds</h3>
        <h3>Exterior Shutters</h3>
    </div>
    <div class="s_b1">
        <p>Automation<br>Energy Efficiency<br>Room Darkening<br>Top-Down,Bottom-Up<br>Child and Pet Safety</p>
        <p>Find a Local Consultant<br>Our Process<br>Customer Reviews<br>Warranty & Care</p>
        <p>Promotions<br>Financing<br>Contact Us<br>Leave Feedback<br>Become a Dealer</p>
        <p><b>Forsyth Shutters and Blinds</b><br>678-323-6455<br>Find a Consultant<br></p>
    </div>
    <div>
        <p style="text-align: center;">Copyright © 2024 Forsyth Shutters and Blinds - All Rights Reserved.<br><br></p>
    </div>
</div>
