.b{
    width:1300px;
    border-bottom: 1px solid rgb(98, 97, 97);
    margin-left: 80px;
}
.p1{
    text-align: center;
    font-size: 26px;margin-top: 3%
    ;
}
.new{
    text-align: center;
    border-color: none;
    border-width: 10px;
}