<div>
    <p style="font-size: 25px;padding-left: 5%; padding-top: 4%;">CONTACT US</p>
    </div>
    <div class="b"></div>
    <div>
        <p style="text-align: center;font-size: 26px;">Better yet, see us in person!</p>
    </div>
    <div>
        <p style="text-align: center;font-size: 18px;color: grey;">
            We stay in constant communication with our customers until the job is done. To get a free quote, or if you<br>
            have questions or special requests, just drop us a line at  or call us<br>at 678-323-6455.
        </p>
    </div>
    <div>
        <p style="text-align: center;font-size: 28px;margin-top: 3%;">
            Forsyth Shutters and Blinds
        </p>
    </div>
    <div >
        <p style="text-align: center;font-size: 22px;color: gray;">
            Cumming, Georgia 30040, United States
        </p>
    </div> 
    <div>
        <p class="p1">Hours</p>
    </div>
    <div class="new">
        <select class="form-select" [(ngModel)]="selected">
            <option *ngFor="let n of appointment">{{n}}</option>
            
        </select>
    </div>
   
