<div style="background-color: #dfeef3;background-size: cover;">
    <!--<p style="font-size: 25px;padding-left: 5%; padding-top: 4%;">WINDOW COVERING INSPIRATION GALLERY</p>
    <div class="a"></div>
    <div class="GALLERY">
    <a href="https://img1.wsimg.com/isteam/ip/aa15d4b6-15da-4ccd-a387-497308a7e83f/Shutter%20Image.jpeg/:/rs=w:370,cg:true,m">
        <img src="https://img1.wsimg.com/isteam/ip/aa15d4b6-15da-4ccd-a387-497308a7e83f/Shutter%20Image.jpeg/:/rs=w:370,cg:true,m" alt="">
    </a><br>
    <a href="https://img1.wsimg.com/isteam/ip/aa15d4b6-15da-4ccd-a387-497308a7e83f/Roller%20Shades%20Image.jpeg/:/rs=w:370,cg:true,m">
        <img src="https://img1.wsimg.com/isteam/ip/aa15d4b6-15da-4ccd-a387-497308a7e83f/Roller%20Shades%20Image.jpeg/:/rs=w:370,cg:true,m" alt="">
    
    </a>
    <a href="https://img1.wsimg.com/isteam/stock/ZO8Z2lg/:/rs=w:370,cg:true,m">
        <img src="https://img1.wsimg.com/isteam/stock/ZO8Z2lg/:/rs=w:370,cg:true,m" alt=""><br>
    </a>
    <a href="https://img1.wsimg.com/isteam/stock/Zzgzgq2/:/rs=w:370,cg:true,m">
        <img src="https://img1.wsimg.com/isteam/stock/Zzgzgq2/:/rs=w:370,cg:true,m" alt="">
    </a>
    <a href="https://img1.wsimg.com/isteam/stock/5820/:/rs=w:370,cg:true,m">
        <img src="https://img1.wsimg.com/isteam/stock/5820/:/rs=w:370,cg:true,m" alt="">
    </a>
    </div>
    </div>-->
    <div><p style="font-size: 25px;padding-left: 5%; padding-top: 4%;">WINDOW COVERING INSPIRATION GALLERY</p></div>
    <div class="a"></div>
    <div class="gallery_item">
    <div class="gallery1">
        <a href="https://img1.wsimg.com/isteam/ip/aa15d4b6-15da-4ccd-a387-497308a7e83f/Shutter%20Image.jpeg/:/rs=w:370,cg:true,m">
            <img src="https://img1.wsimg.com/isteam/ip/aa15d4b6-15da-4ccd-a387-497308a7e83f/Shutter%20Image.jpeg/:/rs=w:370,cg:true,m" alt="">
        </a>
        <a href="https://img1.wsimg.com/isteam/ip/aa15d4b6-15da-4ccd-a387-497308a7e83f/Roller%20Shades%20Image.jpeg/:/rs=w:370,cg:true,m">
            <img src="https://img1.wsimg.com/isteam/ip/aa15d4b6-15da-4ccd-a387-497308a7e83f/Roller%20Shades%20Image.jpeg/:/rs=w:370,cg:true,m" alt="">
        
        </a>
        <a href="https://img1.wsimg.com/isteam/stock/ZO8Z2lg/:/rs=w:370,cg:true,m">
            <img src="https://img1.wsimg.com/isteam/stock/ZO8Z2lg/:/rs=w:370,cg:true,m" alt=""><br>
        </a>


    </div>
    <div class="gallery2">
        <a href="https://img1.wsimg.com/isteam/stock/Zzgzgq2/:/rs=w:370,cg:true,m">
            <img src="https://img1.wsimg.com/isteam/stock/Zzgzgq2/:/rs=w:370,cg:true,m" alt="">
        </a>
        <a href="https://img1.wsimg.com/isteam/stock/5820/:/rs=w:370,cg:true,m">
            <img src="https://img1.wsimg.com/isteam/stock/5820/:/rs=w:370,cg:true,m" alt="">
        </a>

    </div>
    </div>
    <br>
    <br>
   
