
form{
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin-left: 600px;
}.form_wrapper{
    align-items: center;
}
button{
    margin-left: 50px;
    padding: 3%;
    border-color:none ;
    
}


